.autocomplete-dropdown-container {
    position: relative;
}

.autocomplete-dropdown-container {
    border-bottom: red;
    border-left: honeydew;
    border-right: honeydew;
    /* border-top: 1px solid #e6e6e6; */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 2px 2px;
}

.suggestion-item {
    padding: 4px;
    text-align: left;
    background-color: #fff;
    cursor: pointer;
}

.suggestion-item--active {
    padding: 4px;
    text-align: left;
    cursor: pointer;
    background-color: #fafafa;
}